[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "userspace/lib/mimalloc"]
	path = userspace/lib/mimalloc
	url = https://github.com/microsoft/mimalloc
