kernel/acpi/acpica/**  linguist-vendored=true
kernel/acpi/acpica/**  -diff

userspace/lib/libjpeg/**  linguist-vendored=true
userspace/lib/libjpeg/**  -diff

userspace/lib/lua/**  linguist-vendored=true
userspace/lib/lua/**  -diff

userspace/lib/lvgl/**  linguist-vendored=true
userspace/lib/lvgl/**  -diff